<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.star.mapper.ArticleMapper">

    <resultMap id="articleBackVO" type="com.star.model.vo.ArticleBackVO">
        <id column="id" property="id" />
        <result column="article_cover" property="articleCover" />
        <result column="article_title" property="articleTitle" />
        <result column="category_id" property="categoryId"/>
        <result column="is_delete" property="isDelete"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <collection property="tagList" ofType="com.star.model.vo.TagOptionVO">
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <resultMap id="articleHomeVO" type="com.star.model.vo.ArticleHomeVO">
        <id column="id" property="id" />
        <result column="article_cover" property="articleCover"/>
        <result column="article_title" property="articleTitle"/>
        <result column="article_content" property="articleContent"/>
        <result column="create_time" property="createTime"/>
        <association property="category" javaType="com.star.model.vo.CategoryOptionVO">
            <id column="category_id" property="id"/>
            <result column="category_name" property="categoryName"/>
        </association>
        <collection property="tagList" ofType="com.star.model.vo.TagOptionVO">
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <resultMap id="articleConditionVO" type="com.star.model.vo.ArticleConditionVO">
        <id column="id" property="id"/>
        <result column="article_cover" property="articleCover"/>
        <result column="article_title" property="articleTitle"/>
        <result column="create_time" property="createTime"/>
        <association property="category" javaType="com.star.model.vo.CategoryOptionVO">
            <id column="category_id" property="id"/>
            <result column="category_name" property="categoryName"/>
        </association>
        <collection property="tagList" ofType="com.star.model.vo.TagOptionVO">
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>
    
    <select id="countArticleBackVO" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT a.id)
        FROM t_article a
        LEFT JOIN t_article_tag tat ON a.id = tat.article_id
        <where>
            <if test="condition.keyword != null">
                and article_title like concat('%',#{condition.keyword},'%')
            </if>
            <if test="condition.status != null">
                and `status` = #{condition.status}
            </if>
            <if test="condition.categoryId != null">
                and category_id = #{condition.categoryId}
            </if>
            <if test="condition.tagId != null">
                and tat.tag_id = #{condition.tagId}
            </if>
        </where>
    </select>

    <select id="selectArticleBackVO" resultMap="articleBackVO">
        SELECT a.id,
        article_cover,
        article_title,
        category_id,
        a.is_delete,
        a.`status`,
        a.create_time,
        t.id AS tag_id,
        t.tag_name
        FROM (
        SELECT id,
        article_cover,
        category_id,
        article_title,
        is_delete,
        `status`,
        create_time
        FROM t_article
        <where>
            <if test="condition.keyword != null">
                and article_title like concat('%',#{condition.keyword},'%')
            </if>
            <if test="condition.status != null">
                and status = #{condition.status}
            </if>
            <if test="condition.categoryId != null">
                and category_id = #{condition.categoryId}
            </if>
            <if test="condition.tagId != null">
                and id in
                (
                SELECT
                article_id
                FROM
                t_article_tag
                WHERE
                tag_id = #{condition.tagId}
                )
            </if>
        </where>
        ORDER BY id DESC LIMIT #{limit}, #{size}
        ) a
        LEFT JOIN t_category c ON a.category_id = c.id
        LEFT JOIN t_article_tag tat ON a.id = tat.article_id
        LEFT JOIN t_tag t ON t.id = tat.tag_id
    </select>

    <select id="selectArticleInfoById" resultType="com.star.model.vo.ArticleInfoVO">
        select id,
               category_id,
               article_cover,
               article_title,
               article_content,
               `status`
        from t_article
        where id = #{articleId}
    </select>

    <select id="selectArticleHomeList" resultMap="articleHomeVO">
        SELECT a.id,
               article_cover,
               article_title,
               substring(article_content, 1, 500) AS article_content,
               a.create_time,
               a.category_id,
               category_name,
               t.id                            AS tag_id,
               t.tag_name
        FROM (
            SELECT id,
                   article_cover,
                   article_title,
                   article_content,
                   create_time,
                   category_id
            FROM t_article
            WHERE is_delete = 0
              AND `status` = 1
            ORDER BY id DESC LIMIT #{limit}, #{size}
        ) a
            INNER JOIN t_category c ON a.category_id = c.id
            INNER JOIN t_article_tag tat ON a.id = tat.article_id
            INNER JOIN t_tag t ON t.id = tat.tag_id
        ORDER BY a.id DESC
    </select>

    <select id="listArticleByCondition" resultMap="articleConditionVO">
        SELECT a.id,
        article_cover,
        article_title,
        a.create_time,
        c.id AS category_id,
        c.category_name,
        t.id AS tag_id,
        tag_name
        FROM t_article a
        INNER JOIN t_category c ON a.category_id = c.id
        INNER JOIN t_article_tag tat ON a.id = tat.article_id
        INNER JOIN t_tag t ON tat.tag_id = t.id
        <where>
            is_delete = 0 and `status` = 1
            <if test="condition.categoryId != null">
                and category_id = #{condition.categoryId}
            </if>
            <if test="condition.tagId != null">
                and tag_id = #{condition.tagId}
            </if>
        </where>
        ORDER BY a.id DESC
        LIMIT #{limit}, #{size}
    </select>
</mapper>