<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.mapper.UserMapper">

    <select id="getById" resultType="com.star.model.vo.SystemUserVO">
        select a.id,a.username,a.role_id,a.status,b.nickname,b.avatar from b_user a left join (select id,nickname,avatar from b_user_info) b on a.user_info_id=b.id
        where a.id = #{id}
    </select>

    <select id="selectNameAndPassword" resultType="com.star.entity.User">
        select a.id,a.login_type,a.status,b.nickname,b.avatar,b.email,b.intro,b.web_site from b_user a
            left join (select id,nickname,avatar,email,intro,web_site from b_user_info) b on a.user_info_id=b.id
        where username=#{username}
    </select>
</mapper>